<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입 결과화면</title>
    <link rel="stylesheet" href="./exercise.css" />
  </head>
  <body>
    <h1><span><%=userInfo.name%></span>님 마이페이지</h1>
    <img src="/<%=profile.path%>" alt="프로필사진" />
    <p>아이디 <%=userInfo.id%></p>
    <br />
    <p>비밀번호 <%=userInfo.pw%></p>
    <br />
    <p>이름 <%=userInfo.name%></p>
    <br />
    <p>나이 <%=userInfo.age%></p>
  </body>
</html>
